# Rust
target/
**/target/
**/*.rs.bk

# Arquivos gerados pelo sistema
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*~

# Arquivos de ambiente
.env
*.env.local

# Obsidian
notes/.obsidian/workspace.json
notes/.obsidian/workspace-mobile.json
notes/.obsidian/cache
